%h1 Listing songs

%table
  %thead
    %tr
      %th Album
      %th Title
      %th Artist
      %th Genre
      %th Favourite
      %th
      %th
      %th

  %tbody
    - @songs.each do |song|
      %tr
        %td= song.album.title
        %td= song.title
        %td= song.artist
        %td= song.genre
        %td= song.favourite
        %td= link_to t('button1'), song
        %td= link_to t('button2'), edit_song_path(song)
        %td= link_to t('button3'), song, method: :delete, data: { confirm: t('confirm') }

%br

= link_to t('.new'), albums_path
