%p#notice= notice

%p
  %b Album:
  = @song.album.title
%p
  %b Title:
  = @song.title
%p
  %b Artist:
  = @song.artist
%p
  %b Genre:
  = @song.genre
%p
  %b Favourite:
  = @song.favourite

= link_to 'Edit', edit_song_path(@song)
\|
= link_to 'Back', songs_path
