%h1 Listing albums

%table
  %thead
    %tr
      %th Title
      %th Artist
      %th Released
      %th
      %th
      %th

  %tbody
    - @albums.each do |album|
      %tr
        %td= album.title
        %td= album.artist
        %td= album.released
        %td= link_to t('button1'), album
        %td= link_to t('button2'), edit_album_path(album)
        %td= link_to t('button3'), album, method: :delete, data: { confirm: t('confirm') }

%br

= link_to t('.new'), new_album_path
